.amap-lib-transfer{
    background-color: #fff;
    font-size: 12px;
    height: 80px;
    border: none;
    margin-top: 5px;
}
.amap-lib-transfer ol,.amap-lib-transfer ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.amap-lib-transfer dt {
    cursor: pointer;
}
.amap-lib-transfer h1,.amap-lib-transfer h2,.amap-lib-transfer h3,.amap-lib-transfer h4,.amap-lib-transfer h5 {
    font-weight: 400;
    margin: 0;
}
.amap-lib-transfer p {
    margin: 0;
}
.amap-lib-transfer a {
    background-color: transparent;
    color: #6495ed;
    text-decoration: none;
}
.amap-lib-transfer a:active,.amap-lib-transfer a:hover {
    outline: 0 none;
    text-decoration: none;
    cursor:inherit ;
}
.amap-lib-transfer .planTitle {
    position: relative;
    padding: 6px 5px;
    height: 80px;
    margin-bottom: 10px;
    border-top: 0px solid #e6e6e6;
    border-bottom: 0px solid #e6e6e6;
    background: #fff;
    font-size: 14px;
    cursor: pointer;
  
}
.amap-lib-transfer .planTitle .clearfix a {
    text-decoration:underline;
}

.amap-lib-transfer .planTitle:hover {
    background: #fff
}

.amap-lib-transfer .planTitle:hover .sidebar {
    display: block
}

.amap-lib-transfer .planTitle span.red {
    color: #fb5e79;
}

.amap-lib-transfer .planTitle h3 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 1px;
    margin-top: 15px;
    text-indent: 2em;
    -o-text-overflow: ellipsis;/*兼容opera*/
	text-overflow: ellipsis;/*这就是省略号喽*/		  
	overflow: hidden;/*设置超过的隐藏*/
	white-space: nowrap;/*设置不折行*/
	width:85%;/*设置宽度*/
}

.amap-lib-transfer .planTitle p {
    font-size: 12px;
    margin-bottom: 1px;
    margin-top: 15px;
    text-indent: 2em;
    color: #666;
    -o-text-overflow: ellipsis;/*兼容opera*/
	text-overflow: ellipsis;/*这就是省略号喽*/		  
	overflow: hidden;/*设置超过的隐藏*/
	white-space: nowrap;/*设置不折行*/
	width:85%;/*设置宽度*/
}

.amap-lib-transfer .planTitle ul {
    display: none;
    margin-top: 7px
}

.amap-lib-transfer .planTitle.current ul {
    display: block
}

.amap-lib-transfer .planTitle ul li {
    float: left;
    border-right: 1px solid #dcdcdc
}

.amap-lib-transfer .planTitle ul li:last-child {
    border-right: none
}

.amap-lib-transfer .planTitle ul li a {
    padding-right: 8px;
    height: 16px;
    line-height: 16px;
    background-repeat: no-repeat;
    text-indent: 20px;
    font-size: 12px;
    color: #0000ff;
}

.amap-lib-transfer .planTitle ul li a.icon-share {
    padding-left: 0;
    background-position: 0 center
}

.amap-lib-transfer .icon-share {
    background-image: url(http://webapi.amap.com/theme/v1.3/images/newpc/icon/share.png);
    background-position: 10px center
}

.amap-lib-transfer .icon-mark {
    background-image: url(http://webapi.amap.com/theme/v1.3/images/newpc/icon/mark.png);
    background-position: 9px 0
}

.amap-lib-transfer .icon-mark:hover {
    background-position: 9px -17px
}

.amap-lib-transfer .icon-mark.favdired {
    background-position: 9px -33px
}

.amap-lib-transfer .icon-print {
    background-image: url(http://webapi.amap.com/theme/v1.3/images/newpc/icon/print.png);
    background-position: 10px center
}

.amap-lib-transfer .icon-mobile {
    background-image: url(http://webapi.amap.com/theme/v1.3/images/newpc/icon/mobile.png);
    background-position: 10px center
}

.amap-lib-transfer .icon-arrow-up {
    background-image: url(http://webapi.amap.com/theme/v1.3/images/newpc/icon/arrow-down.png);
    background-position: 10px center
}

.amap-lib-transfer .planTitle .sidebar {
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    right: 0;
    pointer-events:none;
    margin-top: -15px
}

.amap-lib-transfer .planTitle .sidebar div {
    display: none;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 300ms ease-in 0s;
    -webkit-transition: all 300ms ease-in 0s;
    -moz-transition: all 300ms ease-in 0s;
    /*    transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg)*/
}

.amap-lib-transfer .planTitle .sidebar div.expand {
/*    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg)*/
    display: none;
	/*background-image: url(http://webapi.amap.com/theme/v1.3/images/newpc/icon/arrow-up.png);*/
}

.amap-lib-transfer span.line {
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
    display: inline-block;
    line-height: 18px;
    text-indent: 0
}

.amap-lib-transfer span.line .beforespan {
    content: " ";
    position: absolute;
    top: 0;
    left: -18px;
    width: 16px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center
}

.amap-lib-transfer span.subwayline {
    color: #fff;
    margin-left: 16px;
    background-color: #3baeca
}

.amap-lib-transfer .plan dd.subway.subwayline1 .afterdd, .amap-lib-transfer .plan dt.subway.subwayline1 .afterdt, .amap-lib-transfer .plan dt.subwayline1 span.line,.amap-lib-transfer span.subwayline1 {
    background-color: #d66969
}

.amap-lib-transfer .plan dd.subway.subwayline2 .afterdd, .amap-lib-transfer .plan dt.subway.subwayline2 .afterdt, .amap-lib-transfer .plan dt.subwayline2 span.line, .amap-lib-transfer span.subwayline2 {
    background-color: #5591ce
}

.amap-lib-transfer .plan dd.subway.subwayline4 .afterdd, .amap-lib-transfer .plan dt.subway.subwayline4 .afterdt, .amap-lib-transfer .plan dt.subwayline4 span.line, span.subwayline4 {
    background-color: #17beb0
}

.amap-lib-transfer .plan dd.subway.subwayline5 .afterdd, .amap-lib-transfer .plan dt.subway.subwayline5 .afterdt, .amap-lib-transfer .plan dt.subwayline5 span.line, span.subwayline5 {
    background-color: #cf70b3
}

.amap-lib-transfer .plan dd.subway.subwayline6 .afterdd, .amap-lib-transfer .plan dt.subway.subwayline6 .afterdt, .amap-lib-transfer .plan dt.subwayline6 span.line, span.subwayline6 {
    background-color: #e2a116
}

.amap-lib-transfer .plan dd.subway.subwayline7 .afterdd, .amap-lib-transfer .plan dt.subway.subwayline7 .afterdt, .amap-lib-transfer .plan dt.subwayline7 span.line, span.subwayline7 {
    background-color: #b38f65
}

.amap-lib-transfer .plan dd.subway.subwayline8 .afterdd, .amap-lib-transfer .plan dt.subway.subwayline8 .afterdt, .amap-lib-transfer .plan dt.subwayline8 span.line, span.subwayline8 {
    background-color: #47b852
}

.amap-lib-transfer .plan dd.subway.subwayline9 .afterdd, .amap-lib-transfer .plan dt.subway.subwayline9 .afterdt, .amap-lib-transfer .plan dt.subwayline9 span.line, span.subwayline9 {
    background-color: #88ad2e
}

.amap-lib-transfer .plan dd.subway.subwayline10 .afterdd, .amap-lib-transfer .plan dt.subway.subwayline10 .afterdt, .amap-lib-transfer .plan dt.subwayline10 span.line, span.subwayline10 {
    background-color: #3baeca
}

.amap-lib-transfer .plan dd.subway.subwayline11 .afterdd, .amap-lib-transfer .plan dd.subway.subwayline12 .afterdt, .amap-lib-transfer .plan dt.subway.subwayline11:after, .amap-lib-transfer .plan dt.subway.subwayline12 .afterdt, .amap-lib-transfer .plan dt.subwayline11 span.line, .amap-lib-transfer .plan dt.subwayline12 span.line, span.subwayline11, span.subwayline12 {
    background-color: #5591ce
}

.amap-lib-transfer .plan dd.subway.subwayline13 .afterdd, .amap-lib-transfer .plan dt.subway.subwayline13 .afterdt, .amap-lib-transfer .plan dt.subwayline13 span.line, span.subwayline13 {
    background-color: #bf7e16
}

.amap-lib-transfer .plan dd.subway.subwayline14 .afterdd, .amap-lib-transfer .plan dt.subway.subwayline14 .afterdt, .amap-lib-transfer .plan dt.subwayline14 span.line, span.subwayline14 {
    background-color: #b98080
}

.amap-lib-transfer .plan dd.subway.subwayline15 .afterdd, .amap-lib-transfer .plan dt.subway.subwayline15 .afterdt, .amap-lib-transfer .plan dt.subwayline15 span.line, span.subwayline15 {
    background-color: #8a70b9
}

.amap-lib-transfer .plan dd.subway.subwaylinebt .afterdd, .amap-lib-transfer .plan dt.subway.subwaylinebt .afterdt, .amap-lib-transfer .plan dt.subwaylinebt span.line, span.subwaylinebt {
    background-color: #d66969
}

.amap-lib-transfer .plan dd.subway.subwaylinefs .afterdd, .amap-lib-transfer .plan dd.subway.subwaylineyz .afterdt, .amap-lib-transfer .plan dt.subway.subwaylinefs .afterdt, .amap-lib-transfer .plan dt.subway.subwaylineyz .afterdt, .amap-lib-transfer .plan dt.subwaylinefs span.line, .amap-lib-transfer .plan dt.subwaylineyz span.line, span.subwaylinefs, span.subwaylineyz {
    background-color: #db8240
}

.amap-lib-transfer .plan dd.subway.subwaylinecp .afterdd, .amap-lib-transfer .plan dt.subway.subwaylinecp .afterdt, .amap-lib-transfer .plan dt.subwaylinecp span.line, span.subwaylinecp {
    background-color: #b186a4
}

.amap-lib-transfer .plan dd.subway.subwaylinejc .afterdd, .amap-lib-transfer .plan dt.subway.subwaylinejc .afterdt, .amap-lib-transfer .plan dt.subwaylinejc span.line, span.subwaylinejc {
    background-color: #b199bb
}

.amap-lib-transfer .plan dd.subway.subwaylinexj .afterdd, .amap-lib-transfer .plan dt.subway.subwaylinexj .afterdt, .amap-lib-transfer .plan dt.subwaylinexj span.line, span.subwaylinexj {
    background-color: #93989b
}

.amap-lib-transfer span.subwayline .beforespan {
    background-image: url(http://webapi.amap.com/theme/v1.3/images/newpc/icon/subway.png)
}

.amap-lib-transfer span.busline {
    margin-left: 0px;
    padding-left: 0;
    padding-right: 0
}

.amap-lib-transfer span.busline .beforespan {
    display: none;
    background-image: url(http://webapi.amap.com/theme/v1.3/images/newpc/icon/busline.png)
}

.amap-lib-transfer .planTitle h3 span {
    position: relative;
    margin-right: 8px;
    margin-bottom: 5px
}

.amap-lib-transfer .planTitle h3 span:last-child {
    margin-right: 0
}

.amap-lib-transfer .planTitle h3 span .afterspan {
    position: absolute;
    top: 0;
    right: -8px;
    width: 5px;
    height: 100%;
    display: none;
    background: url(http://webapi.amap.com/theme/v1.3/images/newpc/icon/arrow-left.png) center no-repeat
}

.amap-lib-transfer .planTitle h3 span:last-child .afterspan {
    background: 0 0
}

.amap-lib-transfer .plan {
    display: none;
    font-size: 12px;
}

.amap-lib-transfer .plan .grey {
    color: #999
}

.amap-lib-transfer .plan .blue {
    color: #3baeca
}

.amap-lib-transfer .plan dt {
    position: relative;
    margin-left: 35px;
    line-height: 30px;
    border-bottom: 1px solid #f0f0f0
}

.amap-lib-transfer .plan dt:hover {
    background: #fafafa
}

.amap-lib-transfer .plan dd {
    position: relative;
    margin-left: 35px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #f0f0f0
}

.amap-lib-transfer .plan dd h4 {
    margin-bottom: 7px;
    color: #666
}

.amap-lib-transfer .plan dd h4 a {
    color: #565656;
    font-weight: 700
}

.amap-lib-transfer .plan dd h4 span {
    font-weight: 400;
    margin-left: 8px
}

.amap-lib-transfer .plan dd ul {
    display: none;
    font-size: 12px;
    color: #666
}

.amap-lib-transfer .plan dd ul li {
    margin-bottom: 7px
}

.amap-lib-transfer .plan dd p {
    font-size: 12px;
    color: #666
}

.amap-lib-transfer .plan dd a.icon-arrow {
    position: absolute;
    right: 25px;
    width: 42px;
    top:5px;
    height: 20px;
    text-align: right;
    line-height: 20px;
    color: #0091ff;
    font-size: 12px
}

.amap-lib-transfer .plan dd a.icon-arrow .aftera {
    position: absolute;
    top: 5px;
    right: -18px;
    width: 13px;
    height: 13px;
    transition: all 400ms ease-in 0s;
    -webkit-transition: all 400ms ease-in 0s;
    -moz-transition: all 400ms ease-in 0s;
/*    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);*/
    background: url(http://webapi.amap.com/theme/v1.3/images/newpc/icon/arrow-down.png) right center no-repeat
}

.amap-lib-transfer .plan dd a.icon-arrow.expand .aftera {
	background: url(http://webapi.amap.com/theme/v1.3/images/newpc/icon/arrow-up.png) right center no-repeat
/*    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);*/
}

.amap-lib-transfer .plan dd h4:hover, .amap-lib-transfer .plan dd p:hover, .amap-lib-transfer .plan dd ul li:hover {
    background: #fafafa
}

.amap-lib-transfer .plan dt span.grey {
    font-weight: 400
}

.amap-lib-transfer .plan dt span.line {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    line-height: 22px;
    color: #fff;
    background: #3baeca;
    text-indent: 0
}

.amap-lib-transfer .plan dt:first-child {
    border-top: 1px solid #f0f0f0
}

.amap-lib-transfer .plan dd .afterdd, .amap-lib-transfer .plan dt .afterdt, .amap-lib-transfer .plan dt .beforedt {
    z-index: 1;
    position: absolute
}

.amap-lib-transfer .plan dt .beforedt {
    left: -30px;
    border-radius: 50%;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: 0;
    text-align: center;
    font-size: 12px;
    z-index: 2
}
.amap-lib-transfer .plan > dt .beforedt {
    top:50%;/*ie6涓嬩笉鑳借缃椤�*/
}

/*.amap-lib-transfer .plan dd:after, .amap-lib-transfer .plan dt:after {
    top: 20px;
    left: -22px;
    height: 100%;
    width: 4px;
    z-index: 9;
    background-color: #e5e7e8
}

.amap-lib-transfer .plan dd:after {
    top: 19px
}*/
.amap-lib-transfer .afterdd {
    top: 19px;
    left: -22px;
    height: 100%;
    width: 4px;
    z-index: -1;
    background-color: #e5e7e8;
    position: absolute;
}
.amap-lib-transfer .afterdt {
    top: 20px;
    left: -22px;
    height: 500px;
    width: 4px;
    z-index: -1;
    background-color: #e5e7e8;
    position: absolute;
}
.amap-lib-transfer > .plan dt > .afterdt { /*涓轰簡鍏煎ie6,楂樺害鏈潵搴旇鏄�100%,ie涓嬭缃簡500px*/
    height: 100%;
}
.amap-lib-transfer dt.end .afterdt{
    height: 0;
}
.amap-lib-transfer .plan{
    margin: 3px 0;
}
.amap-lib-transfer .plan dt.end, .amap-lib-transfer .plan dt.start, .amap-lib-transfer .plan dt.via {
    font-size: 14px
}

.amap-lib-transfer .plan dt.end .beforedt, .amap-lib-transfer .plan dt.start .beforedt, .amap-lib-transfer .plan dt.via .beforedt {
    margin-top: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #FFF;
    background-image: url(http://webapi.amap.com/theme/v1.3/images/newpc/diricon.png)
}

.amap-lib-transfer .plan dt.start .beforedt {
    background-position: -47px -104px
}

.amap-lib-transfer .plan dt.via .beforedt {
    background-position: -85px -104px
}

.amap-lib-transfer .plan dt.end .beforedt {
    background-position: -126px -104px
}

.amap-lib-transfer .plan dt.end .afterdt {
    height: 0
}

.amap-lib-transfer .plan dt.walk .beforedt {
    left: -27px;
    width: 10px;
    height: 10px;
    margin-top: -6px;
    border: 2px solid #ddd
}

.amap-lib-transfer .plan dt.bus .beforedt, .amap-lib-transfer .plan dt.subway .beforedt,.amap-lib-transfer .plan dt.railway .beforedt {
    left: -31px;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background-image: url(http://webapi.amap.com/theme/v1.3/images/newpc/diricon.png)
}

.amap-lib-transfer .plan dd.bus .afterdd, .amap-lib-transfer .plan dt.bus .afterdt {
    background-color: #33a7ff
}

.amap-lib-transfer .plan dd.subway .afterdd, .amap-lib-transfer .plan dt.subway .afterdt {
    background-color: #3baeca
}

.amap-lib-transfer .plan dt.bus .beforedt {
    background-position: -164px -102px
}

.amap-lib-transfer .plan dt.subway .beforedt {
    background-position: -243px -101px
}
.amap-lib-transfer .plan dt.railway .beforedt {
    background-position:-205px -102px
}

.amap-lib-transfer .plan-nobus dt {
    height: 56px;
    line-height: 28px
}

.amap-lib-transfer .plan-nobus dt span {
    display: block;
    line-height: 18px
}

.amap-lib-transfer .plan-nobus dt.end, .amap-lib-transfer .plan-nobus dt.start, .amap-lib-transfer .plan-nobus dt.via {
    line-height: 56px
}

.amap-lib-transfer .plan-nobus dt .beforedt {
    left: -31px;
    width: 21px;
    height: 21px;
    margin-top: -12px;
    border: 1px solid #ddd;
    background-image: url(http://webapi.amap.com/theme/v1.3/images/newpc/diricon.png)
}

.amap-lib-transfer .plan-nobus dt.end .beforedt, .amap-lib-transfer .plan-nobus dt.start .beforedt, .amap-lib-transfer .plan-nobus dt.via .beforedt {
    border: none
}

.amap-lib-transfer .plan-nobus dt.turn-go .beforedt {
    background-image: url(http://webapi.amap.com/theme/v1.3/images/newpc/icon/turn-go.png)
}

.amap-lib-transfer .plan-nobus dt.turn-advance .beforedt {
    background-position: -46px -23px
}

.amap-lib-transfer .plan-nobus dt.turn-left .beforedt {
    background-position: -87px -23px
}

.amap-lib-transfer .plan-nobus dt.turn-right .beforedt {
    background-position: -124px -23px
}

.amap-lib-transfer .plan-nobus dt.turn-keepleft .beforedt {
    background-position: -406px -23px
}

.amap-lib-transfer .plan-nobus dt.turn-keepright .beforedt {
    background-position: -445px -23px
}

.amap-lib-transfer .plan-nobus dt.turn-leftup .beforedt {
    background-position: -165px -23px
}

.amap-lib-transfer .plan-nobus dt.turn-leftdown .beforedt {
    background-position: -246px -23px
}

.amap-lib-transfer .plan-nobus dt.turn-rightup .beforedt {
    background-position: -206px -23px
}

.amap-lib-transfer .plan-nobus dt.turn-rightdown .beforedt {
    background-position: -284px -23px
}

.amap-lib-transfer .plan-nobus dt.turn-leftback .beforedt {
    background-position: -327px -23px
}

.amap-lib-transfer .plan-nobus dt.turn-rightback .beforedt {
    background-position: -365px -23px
}

.amap-lib-transfer .plan-nobus dt.turn-enterRing .beforedt {
    background-position: -561px -23px
}

.amap-lib-transfer .plan-nobus dt.turn-leaveRing .beforedt {
    background-position: -602px -23px
}

.amap-lib-transfer .plan-nobus dt.turn-slow .beforedt {
    background-position: -524px -23px
}

.amap-lib-transfer .plan-nobus dt.turn-crosswalk .beforedt {
    background-position: -126px -184px
}

.amap-lib-transfer .plan-nobus dt.turn-overpass .beforedt {
    background-position: -164px -184px
}

.amap-lib-transfer .plan-nobus dt.turn-underpass .beforedt {
    background-position: -85px -184px
}

.amap-lib-transfer .plan-nobus dt.turn-squarepass .beforedt {
    background-position: -204px -184px
}

.amap-lib-bus-route-item .amap-lib-marker-stop{
    top:7px;
    left: 2px;
}
.amap-lib-marker-stop{
    background: url("http://webapi.amap.com/theme/v1.3/images/newpc/diricon.png") no-repeat scroll 0 0;
    cursor: pointer;
    height: 24px;
    position: absolute;
    width: 24px;
}
.amap-lib-marker-bus-busStop {
    background-position: -164px -101px;
}
.amap-lib-drive-route-description-box{
    position: relative;
}
.amap-lib-marker-bus-subwayStop {
    background-position: -243px -101px;
}
.amap-lib-marker-bus-railwayStop {
    background-position: -205px -101px;
}
.amap-lib-marker-from {
    position: absolute;
    width: 19px;
    height: 31px;
    color: #e90000;
    background: url(../images/start.png) no-repeat;
    cursor: pointer;
}
.amap-lib-marker-to {
    position: absolute;
    width: 19px;
    height: 31px;
    color: #e90000;
    background: url(../images/end.png) no-repeat;
    cursor: pointer;
}

.amap-lib-iw-content {
    font-size: 12px;
    padding: 10px;
    background: #FFF
}
.amap-lib-iw-content .amap-lib-bus-route-item {
    overflow: hidden;
    zoom: 1
}
.amap-lib-iw-bus {
    position: relative
}
.amap-lib-iw-content .amap-lib-curr-place {
    line-height: 24px;
    font-size: 14px;
    padding-left: 2px;
    border-bottom: 1px #99adce solid
}
.amap-lib-iw-bus .amap-lib-bus-route-item b {
    font-weight: 700;
    cursor: default
}
.amap-lib-iw-bus .amap-lib-bus-route-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    background: url(http://webapi.amap.com/theme/v1.3/images/way_btn.png) no-repeat
}
.amap-lib-iw-bus .amap-lib-icon-marker-bus-busStop {
    background-position: -58px -60px
}
.amap-lib-iw-bus .amap-lib-icon-marker-bus-railwayStop {
    background: url("http://webapi.amap.com/theme/v1.3/images/routePlan.png") no-repeat  -249px -104px;
    position: absolute;
    height: 18px;
    width: 16px;
}
.amap-lib-iw-bus .amap-lib-icon-marker-bus-subwayStop {
    background-position: -30px -60px
}
.amap-lib-iw-bus .amap-lib-curr-name-addr, .amap-lib-iw-bus .amap-lib-transport-step, .amap-lib-iw-bus .amap-lib-walk-step {
    float: left;
    margin-left: 30px
}
.amap-lib-transport-step{
    margin-top: 10px
}
.amap-lib-iw-bus  .amap-lib-bus-route-item .amap-lib-step-detail, .amap-lib-iw-bus .amap-lib-bus-route-item .amap-lib-walk-time {
    margin-top: 10px
}
.amap-lib-step-detail{
    margin-left: -27px;
}
.amap-combo-close {
    position: absolute;
    top: 11px;
    right: 10px;
    background: url(http://webapi.amap.com/theme/v1.3/images/amap-info.png) no-repeat -1px -151px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}
.amap-content-body{
    min-width: 200px;
    max-width: 240px;
    font-family: Helvetica, "Hiragino Sans GB", "Microsoft Yahei", "寰蒋闆呴粦", Arial, sans-serif;
    box-shadow: 0 0 0.5px rgba(0, 0, 100, 0.6);
    background: none repeat scroll 0 0 white;
    border-radius: 2px;
    text-align:left;
    border:#C0C0C0 solid 1px;
}

.amap-combo-sharp {
    margin: 0 auto;
    bottom:1px;
    position: relative;
    background: url(http://webapi.amap.com/theme/v1.3/images/amap-info.png) no-repeat -5px -564px;
    width: 18px;
    height: 9px;
}
.amap-lib-infowindow {
    padding: 0px 0;
    padding-top: 0;
    position: relative;
    background-color: white;
    margin: 8px
}
.amap-lib-infowindow-title {
    line-height: 22px;
    font-size: 14px;
    border-bottom: 1px #99adce solid;
    padding-right:15px;
}
.amap-lib-infowindow-content {
    padding-top: 5px;
    overflow: hidden;
    font-size: 12px;
    zoom: 1
}
全部
拖拽至此处以完成收集
待分类
私密
